<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285786633759-7mehj3n7klbumacq1o3o8t54rovoh0pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285786633759-7mehj3n7klbumacq1o3o8t54rovoh0pe</string>
	<key>API_KEY</key>
	<string>AIzaSyBGNne90VRzvWj3XSotakfwa1AtLmtowD0</string>
	<key>GCM_SENDER_ID</key>
	<string>285786633759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>splash-app-wl</string>
	<key>STORAGE_BUCKET</key>
	<string>splash-app-wl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285786633759:ios:28382dab2cb4938e06872a</string>
	<key>DATABASE_URL</key>
	<string>https://splash-app-wl-default-rtdb.firebaseio.com</string>
</dict>
</plist>